List are ordered sequences that can hold a variety of object types.
We use [] bracket and commas to seprate objects in the list [1,2,'Aditya']

In [1]:
list=[1,2,3,4]

In [2]:
list

[1, 2, 3, 4]

In [3]:
list=['abc','aditya',1]

In [4]:
list

['abc', 'aditya', 1]

In [5]:
list=[1,'abc',1.00]   # list may contain single int, single str, single float or all data type

In [6]:
list

[1, 'abc', 1.0]

In [8]:
len(list)  # len gives the information about available data type in given list

3

In [9]:
len(list)

3

In [10]:
list[1]    # index of list

'abc'

In [26]:
list[0:2]    # slicing of list

[1, 'abc']

In [11]:
list[::]

[1, 'abc', 1.0]

In [12]:
list[::2]

[1, 1.0]

In [13]:
list[::3]

[1]

In [14]:
list[::-1]     # reverse of list

[1.0, 'abc', 1]

In [19]:
list_1=[1,2,3,4,'a']
list_2=[5,"b",'c','s','d']

In [20]:
list_1+list_2     # list concadination.

[1, 2, 3, 4, 'a', 5, 'b', 'c', 's', 'd']

In [24]:
list_2+list_1

[5, 'b', 'c', 's', 'd', 1, 2, 3, 4, 'a']

In [33]:
list=[1,'asdf',3,5,'aditya']

In [34]:
list[1]='Rahul'   # changing the list 2nd element.

In [35]:
list

[1, 'Rahul', 3, 5, 'aditya']

In [42]:
list[1]="RAHUL"

In [43]:
list

[1, 'RAHUL', 3, 5, 'aditya']

In [44]:
list.append(43132)   # add element at last end of list

In [45]:
list

[1, 'RAHUL', 3, 5, 'aditya', 43132]

In [46]:
list.append(992964,'Poddar')   # append() takes exactly one argument.

TypeError: append() takes exactly one argument (2 given)

In [47]:
list_a=[1,2,3,4,5]
list_b=['a','b']

In [58]:
list_a*list_b   # two list's multiplication is not possible.

TypeError: can't multiply sequence by non-int of type 'list'

In [49]:
list_a=[1,2,3,4,5,6,7]
list_b=[9,8,0,1,2,5]

In [51]:
list_a*2

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

In [52]:
list_b*2

[9, 8, 0, 1, 2, 5, 9, 8, 0, 1, 2, 5]

In [53]:
list=['abcdgg','sgffgg']

In [54]:
list*2

['abcdgg', 'sgffgg', 'abcdgg', 'sgffgg']

In [55]:
2*list

['abcdgg', 'sgffgg', 'abcdgg', 'sgffgg']

In [56]:
2*list[::-1]

['sgffgg', 'abcdgg', 'sgffgg', 'abcdgg']

In [57]:
2*list[0:1]

['abcdgg', 'abcdgg']

In [59]:
list=[1,2,3,'a']

In [68]:
list

[]

In [70]:
list.append(1)

In [71]:
list.append(2)

In [72]:
list.append(3)

In [73]:
list

[1, 2, 3]

In [75]:
list.pop(2)    # list.pop is used to remove the element from the ist

3

In [76]:
list

[1, 2]

In [77]:
list=[1,'a','b','c']

In [78]:
list

[1, 'a', 'b', 'c']

In [82]:
list.pop(2)   # list.pop is used to remove the element from the list.

'c'

In [80]:
list

[1, 'a', 'c']

In [83]:
list.pop()  # by default it deletes the last element from the list

'a'

In [84]:
list

[1]

In [85]:
popped_item=list.pop()

In [86]:
popped_item

1

In [87]:
list

[]

In [88]:
list_1=['a','s','d','f','g']
list_2=[1,2,3,4,5,6]

In [91]:
list_1.sort()

In [92]:
list_1

['a', 'd', 'f', 'g', 's']

In [93]:
list_1.sort

In [94]:
type(list_1.sort)

builtin_function_or_method