### MAP

In [6]:
def square(num):
    return num**2

In [7]:
num_list=[1,2,3,4,5,6]

In [8]:
# map(function_name,iterable)

In [9]:
map(square,num_list)

In [18]:
list(map(square,num_list))

[1, 4, 9, 16, 25, 36]

In [19]:
for i in map(square,num_list):
    print(i)

1
4
9
16
25
36

In [11]:
list(map(square,num_list))

[1, 4, 9, 16, 25, 36]

In [15]:
def splicer(mystring):
    if len(mystring)%2==0:
        return "Even"
    else:
        return mystring[0]

In [16]:
names=["Aditya","Sam","Soni"]

In [17]:
list(map(splicer,names))

['Even', 'S', 'Even']

In [20]:
tuple(map(splicer,names))

('Even', 'S', 'Even')

In [21]:
set(map(splicer,names))

{'Even', 'S'}

### FILTER

In [28]:
def check_even(num):
        return num % 2 == 0

In [29]:
mynum=[1,2,3,4,5,6]

In [30]:
# filter(function_name,iterable)

In [56]:
filter(check_even,mynum)

In [33]:
list(filter(check_even,mynum))

[2, 4, 6]

In [38]:
for i in filter(check_even,mynum):
    print(i)

2
4
6

In [39]:
even_num_list=[]
for i in filter(check_even,mynum):
    even_num_list.append(i)
print(even_num_list)

[2, 4, 6]

In [40]:
tuple(filter(check_even,mynum))

(2, 4, 6)

### Lambda Expression

Single line function

##### normal function

In [41]:
def square(num):
    return num**2

In [42]:
square(9)

81

##### lambda function

In [47]:
squareOfNumber=lambda num:num**2

In [48]:
squareOfNumber(5)

25

In [49]:
squareOfNumber(15)

225

In [52]:
mynum

[1, 2, 3, 4, 5, 6]

In [53]:
list(map(lambda num:num**2,mynum))

[1, 4, 9, 16, 25, 36]

In [54]:
tuple(map(lambda num:num**2,mynum))

(1, 4, 9, 16, 25, 36)

In [57]:
list(filter(lambda num:num%2 == 0,mynum))

[2, 4, 6]

In [58]:
list(filter(lambda num:num%2 != 0,mynum))

[1, 3, 5]

In [59]:
names

['Aditya', 'Sam', 'Soni']

In [61]:
map(lambda names:names[0],names)

In [67]:
c=list(map(lambda names:names[0],names))

In [68]:
c

['A', 'S', 'S']