# String

In [1]:
name="Aditya"    # single line string
print(name)

Aditya

In [2]:
address='''       
Mimit
Malout
152107'''      # multiline string

In [3]:
print(address)

Mimit
Malout
152107

### string indexing

In [4]:
name[0]

'A'

In [5]:
name[1]

'd'

In [6]:
name[-1]

'a'

In [7]:
name[-2]

'y'

### String slicing

In [8]:
name

'Aditya'

In [9]:
name[0:3]

'Adi'

In [10]:
name[0:-1]

'Adity'

### String slicing with jumping steps

In [11]:
name

'Aditya'

In [12]:
name[0:4:2]

'Ai'

### string reversing

In [13]:
name

'Aditya'

In [14]:
name[::-1]

'aytidA'

### string length

In [15]:
name

'Aditya'

In [16]:
len(name)

6

In [17]:
# string is immutable.

### string concatination

In [18]:
first_name="aditya"
last_name="Kumar"

full_name=first_name+last_name
print(full_name)

adityaKumar

In [19]:
full_name=first_name+" "+last_name
print(full_name)

aditya Kumar

###  string comparison

In [20]:
s1="aditya"
s2="poddar"

In [21]:
s1>s2

False

In [22]:
s1<s2

True

### Membership operator

            in        
            not in

In [23]:
sentence="A quick brown fox jumps over the lazy dog."

In [24]:
"brown" in sentence

True

In [25]:
"Aditya" in sentence

False

In [26]:
"A" not in sentence

False

###  Some operations in string

In [27]:
s5="asdsdsdsds hfgdfh dfd  dbhd "

In [28]:
s5.upper()    # to convert  into upper case

'ASDSDSDSDS HFGDFH DFD  DBHD '

In [29]:
s5

'asdsdsdsds hfgdfh dfd  dbhd '

In [30]:
s5.lower()  # to convert into lower case

'asdsdsdsds hfgdfh dfd  dbhd '

In [31]:
s5.capitalize()   #  to capitalize them

'Asdsdsdsds hfgdfh dfd  dbhd '

### Escape character

#### \n for next line

In [32]:
a1="Ram \n Shyam  \n Mohan"

In [33]:
print(a1)

Ram
 Shyam
 Mohan

#### \t for tab space

In [34]:
a2="Ram\tshyam\tMohan"
print(a2)

Ram	shyam	Mohan

In [35]:
print("She is a beautiful girl.\"Mohan\"....")

She is a beautiful girl."Mohan"....

In [36]:
print('It\'s an ant.')

It's an ant.

### printing format

##### .format() method

In [37]:
a="Aditya"
print("Hello {}".format(a))

Hello Aditya

#### f string method

In [38]:
a="Aditya"
b="Kumar"
print(f"Hello, {a} {b}")

Hello, Aditya Kumar

### Strip

In [39]:
sen="    She is very beautiful."    # strip function remove the starting whitespace
print(sen.strip())

She is very beautiful.

#### Join

In [40]:
name_list=("Aditya","Mohan", "Ansh")
l="__".join(name_list)
print(l)

Aditya__Mohan__Ansh

### replace

In [49]:
h="Hello world"

In [50]:
print(h.replace("world","Aditya"))

Hello Aditya