# List

List are mutable. It means after the declaration we can change their value.

In [1]:
mylist=[1,2,3,4,5,6]

In [2]:
mylist

[1, 2, 3, 4, 5, 6]

### mixed datatype list

In [3]:
ml=['ads',121,1.2]

In [4]:
ml

['ads', 121, 1.2]

List can contain different type of data type.

### List indexing

In [5]:
mylist

[1, 2, 3, 4, 5, 6]

In [6]:
mylist[0]

1

In [7]:
mylist[2]

3

In [8]:
mylist[-1]

6

In [9]:
mylist[-2]

5

### list slicing

In [10]:
mylist

[1, 2, 3, 4, 5, 6]

In [11]:
mylist[0:3]

[1, 2, 3]

In [12]:
mylist[0:3]

[1, 2, 3]

### List slicing with jumping statement

In [13]:
mylist

[1, 2, 3, 4, 5, 6]

In [14]:
mylist[0:3:2]

[1, 3]

In [15]:
mylist[0:3:]

[1, 2, 3]

### List reversing   - to reverse the list elements

In [16]:
mylist

[1, 2, 3, 4, 5, 6]

In [17]:
mylist[::-1]

[6, 5, 4, 3, 2, 1]

###  len   - to calulate the length of list

In [18]:
mylist

[1, 2, 3, 4, 5, 6]

In [19]:
len(mylist)

6

### List concatination   - to combine two or more than two list

In [20]:
l1=['name',2,2]
l2=['ram','shyam']

new_list=l1+l2
print(new_list)

['name', 2, 2, 'ram', 'shyam']

###  List comparison   - to compare two list

In [21]:
 l1>l2

False

In [22]:
l1<l2

True

###  List updation  - update list element

In [23]:
mylist

[1, 2, 3, 4, 5, 6]

In [24]:
mylist[0]='aditya'

In [25]:
mylist

['aditya', 2, 3, 4, 5, 6]

#### append  - to add new elements  in list

In [26]:
mylist.append("poddar")

In [27]:
mylist

['aditya', 2, 3, 4, 5, 6, 'poddar']

#### pop

In [28]:
mylist.pop()

'poddar'

In [29]:
mylist

['aditya', 2, 3, 4, 5, 6]

#### remove

In [30]:
mylist.remove("aditya")

In [31]:
mylist

[2, 3, 4, 5, 6]

#### delete

In [32]:
del mylist[0]

In [33]:
mylist

[3, 4, 5, 6]

#### sort

In [34]:
mylist

[3, 4, 5, 6]

In [35]:
mylist.sort()

In [36]:
mylist

[3, 4, 5, 6]

###  clear  - to delete the list

In [37]:
mylist.clear()

In [38]:
mylist

[]

###  insert - to insert element in a list via defining their index.

In [39]:
mylist

[]

In [40]:
mylist.insert(1,32)   # syntax listName.insert(index,value)

In [41]:
mylist

[32]

In [42]:
list=[2,4,6,10]
total =sum(list)
print(total)

22

### count  - to count the elements in a given list

In [43]:
mylist.count(32)

1

In [44]:
mylist.count(1)

0

### Convert any data type into a list

In [2]:
list("Aditya Kumar Poddar")
print(list("Aditya Kumar Poddar"))

['A', 'd', 'i', 't', 'y', 'a', ' ', 'K', 'u', 'm', 'a', 'r', ' ', 'P', 'o', 'd', 'd', 'a', 'r']