# Sets

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data.

A set is a collection which is both unordered and unindexed.

Sets are written with curly brackets.

Once a set is created, you cannot change its items, but you can add new items.

In [1]:
myset={1,2,3,4,"a"}

In [2]:
print(myset)

{1, 'a', 2, 3, 4}

In [3]:
myset1={"apple","apple",1,1,22,22,33,33,44}

In [4]:
print(myset1)                              # set store only unique value.

{1, 33, 44, 'apple', 22}

### type

In [5]:
type(myset1)

set

###  len - used to find the length of the set

In [6]:
myset1

{1, 22, 33, 44, 'apple'}

In [7]:
len(myset1)

5

###  The set() Constructor
It is also possible to use the set() constructor to make a set.

In [8]:
newset=set((1,1,2,3))

In [9]:
newset

{1, 2, 3}

In [10]:
type(newset)

set

#####  We can not access the the set item via using indexing but we can check weather the item is available or not in the given set with the help of membership operator.

In [11]:
myset1

{1, 22, 33, 44, 'apple'}

In [12]:
1 in myset1   # to check presence of the item.

True

In [13]:
22 in myset1

True

In [14]:
45 in myset1

False

In [15]:
44 not in myset1             # to check absence of item

False

###  Accessing the item of set

In [16]:
myset1

{1, 22, 33, 44, 'apple'}

In [17]:
for i in myset1:
    print(i)

1
33
44
apple
22

### Add an item

##### To add one item to a set use the add() method.

In [18]:
myset1

{1, 22, 33, 44, 'apple'}

In [19]:
myset1.add("Aditya")

In [20]:
myset1                           # updated set

{1, 22, 33, 44, 'Aditya', 'apple'}

### Add Any Iterable (means tuples, lists, dictionaries)
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [21]:
myset1

{1, 22, 33, 44, 'Aditya', 'apple'}

In [22]:
list1=[1,2,3,4,5,6]

In [23]:
myset1.update(list1)          # old set is updated with set and list

In [24]:
myset1

{1, 2, 22, 3, 33, 4, 44, 5, 6, 'Aditya', 'apple'}

In [25]:
myset2={333,4444444,'addf'}

In [26]:
myset2.update(myset1)             # set is updated with set and set

In [27]:
myset2

{1, 2, 22, 3, 33, 333, 4, 44, 4444444, 5, 6, 'Aditya', 'addf', 'apple'}

In [28]:
dict1={"name":"Poddar","age":20}

In [29]:
myset2.update(dict1)

In [30]:
print(myset2)

{1, 33, 2, 3, 4, 5, 6, 'age', 44, 333, 'apple', 'addf', 'Aditya', 22, 'name', 4444444}

In [31]:
dict1.update(myset2)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [32]:
list1.update(myset2)

AttributeError: 'list' object has no attribute 'update'

### remove  - to remove items from a given set

In [33]:
print(myset2)

{1, 33, 2, 3, 4, 5, 6, 'age', 44, 333, 'apple', 'addf', 'Aditya', 22, 'name', 4444444}

In [34]:
myset2.remove("age")

In [35]:
myset2

{1, 2, 22, 3, 33, 333, 4, 44, 4444444, 5, 6, 'Aditya', 'addf', 'apple', 'name'}

### pop - to remove last item

In [36]:
print(myset2)

{1, 33, 2, 3, 4, 5, 6, 44, 333, 'apple', 'addf', 'Aditya', 22, 'name', 4444444}

In [37]:
myset2.pop()

1

In [38]:
myset2

{2, 22, 3, 33, 333, 4, 44, 4444444, 5, 6, 'Aditya', 'addf', 'apple', 'name'}

In [39]:
x=myset2.pop()

In [40]:
print(x)

33

In [41]:
myset2

{2, 22, 3, 333, 4, 44, 4444444, 5, 6, 'Aditya', 'addf', 'apple', 'name'}

In [42]:
myset2.pop()

2

In [43]:
myset2

{22, 3, 333, 4, 44, 4444444, 5, 6, 'Aditya', 'addf', 'apple', 'name'}

In [44]:
s={1,2,5,6,9,10,10}

In [45]:
s

{1, 2, 5, 6, 9, 10}

In [46]:
s.pop()

1

In [47]:
s.pop()

2

In [48]:
s.pop()

5

In [49]:
s.pop()

6

In [50]:
s.pop()

9

In [51]:
s.pop()

10

In [52]:
s.pop()

KeyError: 'pop from an empty set'