### We can perform following mathematical operations on sets :
            1.union 
            2.intersection
            3.difference
            4.symmetric_differencce
            5.interseection_update
            6.difference_update
            7.symmetric_difference_update
            8.copy
            9.disjoint
            10.issubset
            11.issuperset

### Union

In [1]:
set1={1,2,3,4}
set2={3,4,5,6,7,8}
set1.union(set2)              # set1 union set2

{1, 2, 3, 4, 5, 6, 7, 8}

In [2]:
set2.union(set1)            # set2 union set1

{1, 2, 3, 4, 5, 6, 7, 8}

### Intersection

In [3]:
print(set1)
print(set2)

{1, 2, 3, 4}
{3, 4, 5, 6, 7, 8}

In [4]:
set1.intersection(set2)      # set1 intersection set2

{3, 4}

In [5]:
set2.intersection(set1)      # set2 intersection set1

{3, 4}

### Difference
         in difference = positive_set_elements - (intersection elements of sets)

##### Set1 - set2

In [6]:
set1.difference(set2)    # in difference = positive_set_elements - (intersection elements of sets)

{1, 2}

#### Set2 -  set1

In [7]:
set2.difference(set1)

{5, 6, 7, 8}

### Symmetric Difference   
            in symmetric difference common part of the sets are excluded.

In [8]:
print(set1)
print(set2)

{1, 2, 3, 4}
{3, 4, 5, 6, 7, 8}

In [9]:
set1.symmetric_difference(set2)      # in symmetric difference common part of the sets are excluded.

{1, 2, 5, 6, 7, 8}

In [10]:
set2.symmetric_difference(set1)

{1, 2, 5, 6, 7, 8}

### intersection_update

In [11]:
print(set1)
print(set2)

{1, 2, 3, 4}
{3, 4, 5, 6, 7, 8}

In [12]:
set1.intersection(set2)

{3, 4}

In [13]:
set1.intersection_update(set2)

In [14]:
set1

{3, 4}

In [15]:
set2

{3, 4, 5, 6, 7, 8}

In [16]:
set2.intersection_update(set1)

In [17]:
set2

{3, 4}

### difference_update()

In [26]:
set1={4,57,73,554,45}
print(set1)
set2={32,45,65,345}
print(set2)

{4, 73, 554, 45, 57}
{32, 65, 45, 345}

In [27]:
set1.difference(set2)

{4, 57, 73, 554}

In [32]:
print(set1)
print(set2)

{4, 73, 554, 57}
{32, 65, 45, 345}

In [33]:
set1.difference_update(set2)

In [31]:
set1

{4, 57, 73, 554}

In [30]:
set2

{32, 45, 65, 345}